*.log
logs/
log/

target/
.mvn/
build/
.gradle/
*.jar
*.war
*.ear

hs_err_pid*

.idea/
*.iml
*.iws

.vscode/

.project
.classpath
.settings/

/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
.nb-gradle/

.DS_Store
Thumbs.db

application.properties
application.yml
application-*.properties
application-*.yml

!application-*.properties.example
!application-*.yml.example
!application.properties.example
!application.yml.example

.env